<!-- Page Intro -->
<section id="inner-intro" class="inner-intro bg-image overlay-dark40 dark-bg parallax parallax-background2" data-background-img="img/banner.jpg">
    <div class="container">
        <div class="intro-content">
            <div class="intro-content-inner">
                <h1 class="">El Hack Más Dificil Del Verano</h1>
                <h1 class="alt-title intro-sub-title">VERANO 2016</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Page Intro -->

<!-- Action -->
<section class="ptb-45 black-bg dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="lead">Aprende, diviértete y gana este verano compitiendo este verano por superar los retos más dificiles de programación en JavaScript. Demuestra que eres el mejor!</p>
            </div>
            <div class="col-sm-4 text-right">
                <a ui-sref="public.login" class="scroll-down btn btn-lg btn-white">Log In</a>
            </div>
        </div>
    </div>
</section>
<!-- Action -->


<!-- Register Form Section -->
<section id="register" class="section-padding">
    <div class="container text-center">
        <h1>Registrate Ya</h1>
        <p class="lead-lg max-width-700 mb-60">Si aún no te has apuntado al Hack Más Dificil del verano no te lo pienses más. Rellena este sencillo formulario y empieza a jugar demostrando tus habilidades en JavaScript</p>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <form class="contact-form row"
                          name="registerForm"
                          ng-submit="vm.register(registerForm)"
                          role="form"
                          novalidate>
                        <div class="col-md-12 text-center">
                            <h5 class="successContent">
                                <i class="fa fa-check left" style="color: #5cb45d;"></i>Tu registro se ha realizado con éxito.
                            </h5>
                            <h5 class="errorContent" style="color: #e1534f;">
                                <i class="fa fa-exclamation-circle left"></i>Hubo algún problema con el registro. Revisa los campos.
                            </h5>
                        </div>

                        <div class="col-md-12">
                            <div class="form-field-wrapper">
                                <input type="text"
                                       name="userName"
                                       ng-model="vm.user.name"
                                       class="input-lg form-full input-fancy"
                                       placeholder="Tu Nombre"
                                       required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field-wrapper">
                                <input type="text"
                                       name="userAlias"
                                       ng-model="vm.user.alias"
                                       class="input-lg form-full input-fancy"
                                       placeholder="Tu nick"
                                       required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field-wrapper">
                                <input type="password"
                                       name="userPass"
                                       ng-model="vm.user.pass"
                                       class="input-lg form-full input-fancy"
                                       placeholder="Tu constraseña"
                                       required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field-wrapper">
                                <input type="email"
                                       name="userEmail"
                                       ng-model="vm.user.email"
                                       class="input-lg form-full input-fancy"
                                       placeholder="Tu mail"
                                       required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field-wrapper">
                                <input type="text"
                                       name="userTwitter"
                                       ng-model="vm.user.twitter"
                                       class="input-lg form-full input-fancy"
                                       placeholder="Tu twitter"
                                       required />
                            </div>
                        </div>

                        <div class="col-md-12 mt-50">
                            <button class="btn-contact-submit btn btn-lg btn-black"
                                    type="submit">Registrarme</button>
                        </div>

                    </form>
            </div>
        </div>

    </div>
</section>
<!-- End Register Form Section -->