<!-- Header -->
<header id="header" class="hmd-header">
    <div class="header-inner">

        <!-- Logo -->
        <div class="logo">
            <a href="https://hackmasdificil.github.io/">
                <h2><strong>HMD</strong></h2>
            </a>
        </div>
        <!-- End Logo -->

        <!-- Mobile Navbar Icon -->
        <div class="nav-mobile nav-bar-icon">
            <span></span>
        </div>
        <!-- End Mobile Navbar Icon -->

        <!-- Navbar Navigation -->
        <div class="nav-menu singlepage-nav">
            <ul class="nav-menu-inner">
                <li><a ui-sref="public.home" ui-sref-active="current">Home</a></li>
                <li><a ui-sref="public.ranking_global" ui-sref-active="current">Ranking</a></li>
                <li><a ui-sref="private.profile" ui-sref-active="current">Perfil</a></li>
                <li><a ui-sref="public.faq" ui-sref-active="current">FAQ</a></li>
                <li><a ui-sref="public.register" class="hide-when-logged">Registro</a></li>
                <li><a ui-sref="public.login" class="hide-when-logged">Login</a></li>
                <li><a ui-sref="public.logout" class="show-when-logged">Logout</a></li>
            </ul>
        </div>
        <!-- End Navbar Navigation -->

    </div>
</header>
<!-- // Header -->