
/*------------------------------------------------------------------*/
/* Button Style */
/*------------------------------------------------------------------*/

.btn, button {
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    outline: none;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}

    .btn i, button i, i.left {
        margin-right: 6px;
    }

i.right {
    margin-left: 6px;
    margin-right: 0px !important;
}

.btn-sm {
    padding: 11px 30px !important;
    display: inline-block;
}

.btn-md {
    padding: 13px 25px !important;
    display: inline-block;
}

.btn-lg {
    padding: 15px 30px !important;
    display: inline-block;
}

.btn-xlg {
    padding: 17px 30px !important;
    display: inline-block;
}

.btn-black {
    background-color: #222;
    border-color: transparent;
    color: #fff;
}

    .btn-black:hover {
        background-color: #33ccff;
        border-color: transparent;
        color: #fff;
    }

.btn-color {
    background-color: #33ccff;
    border-color: transparent;
    color: #fff;
}

    .btn-color:hover {
        background-color: #1db2a2;
        border-color: transparent;
        color: #fff;
    }

.btn-white {
    background-color: rgba(255,255,255,1);
    border-color: transparent;
    color: #222;
}

    .btn-white:hover {
        background-color: rgba(255,255,255,0.85);
        border-color: transparent;
        color: #222;
    }

.btn-white-outline {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

    .btn-white-outline:hover {
        background-color: #fff;
        border-color: #fff;
        color: #222;
    }

.btn-black-outline {
    background-color: transparent;
    border-color: #222;
    color: #222;
}

    .btn-black-outline:hover {
        background-color: #222;
        border-color: #222;
        color: #fff;
    }

.btn-color-outline {
    background-color: transparent;
    border-color: #33ccff;
    color: #33ccff;
}

    .btn-color-outline:hover {
        background-color: #33ccff;
        border-color: #33ccff;
        color: #fff;
    }
