<!-- Page Intro -->
<section id="inner-intro" class="inner-intro bg-image overlay-dark40 dark-bg parallax parallax-background2" data-background-img="img/banner.jpg">
    <div class="container">
        <div class="intro-content">
            <div class="intro-content-inner">
                <h1 class="">El Hack Más Dificil Del Verano</h1>
                <h1 class="alt-title intro-sub-title">VERANO 2016</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Page Intro -->

<!-- Action -->
<section class="ptb-45 black-bg dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="lead">Aprende, diviértete y gana este verano compitiendo este verano por superar los retos más dificiles de programación en JavaScript. Demuestra que eres el mejor!</p>
            </div>
            <div class="col-sm-4 text-right">
                <a ui-sref="public.register" class="scroll-down btn btn-lg btn-white">Registro</a>
            </div>
        </div>
    </div>
</section>
<!-- Action -->

<!-- Login Form Section -->
<section id="login-section" class="section-padding">
    <div class="container text-center">
        <h1>Entra Ya</h1>
        <p class="lead-lg max-width-700 mb-60">Ya eres miembro de El Hack Más Dificil del verano. Entra Ya y demuestra tus habilidades de programación en JavaScript</p>

        <div class="row">
            <form ng-submit="vm.login()"
                  name="loginForm"
                  class="col-md-8 col-md-offset-2"
                  novalidate>
                <div ng-if="loginForm.$error && loginForm.$dirty"
                     class="col-md-12 text-center">
                    <h5 class="error"
                         ng-if="vm.errorLogin">
                        <i class="fa fa-exclamation-circle left"></i>Login incorrecto. El nombre de usuario o la constraseña no son válidos.
                    </h5>
                </div>

                <div class="col-md-6">
                    <div class="form-field-wrapper">
                        <input type="text"
                                name="userName"
                                ng-model="vm.userName"
                                class="input-lg form-full input-fancy"
                                placeholder="Tu nick"
                                required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-field-wrapper">
                        <input type="password"
                               name="userPass"
                               ng-model="vm.userPass"
                               class="input-lg form-full input-fancy"
                               placeholder="Tu password"
                               required />
                    </div>
                </div>

                <div class="col-md-12" style="margin-top: 50px;">
                    <button id="login-submit"
                        class="btn-contact-submit btn btn-lg btn-black"
                        type="submit">Entrar</button>
                </div>
            </form>
        </div>

    </div>
</section>
<!-- End Login Form Section -->